@inherits LayoutComponentBase

<header>
    <div class="navbar">
        <div class="logo"><a href="/">ASPM</a></div>
        <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Home</a></li>
        </ul>
        <a href="#" class="action_btn">Iniciar</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</header>

<main>
        @Body 
</main>

<footer>
    
</footer>


